<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BackFlash</title>
	<link rel="stylesheet" href="/css/bulma.min.css">
	<link rel="stylesheet" href="/css/layout.css">
</head>

<body>

	<div id="entire-page">

		<header class="is-size-1 has-text-centered">
			BackFlash
		</header>

		<nav class="navbar has-background-light" role="navigation" aria-label="main navigation">

			<div class="navbar-brand">
				<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
					data-target="navbar">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>
			<div id="navbar" class="navbar-menu is-active">
				<div class="navbar-start">
					<a class="navbar-item" href="/">Home</a>
					<a class="navbar-item" href="/posts">Posts</a>
				</div>

				<div class="navbar-end">
					<div class="navbar-item">
						<div class="buttons">
							{{#if login}}
							<a class="button is-primary" href="/accounts/sign-out">Logout</a>
							{{else}}
							<a class="button is-primary" href="/accounts/sign-up">Sign up</a>
							<a class="button is-dark" href="/accounts/sign-in">Sign in</a>
							{{/if}}
						</div>
					</div>
				</div>

			</div>
		</nav>





		<main>{{{body}}}</main>

		<footer class="footer">
			<div class="content has-text-centered">
				| Copyright ©|
			</div>
		</footer>

	</div>

</body>

</html>